
# สำหรับ TypeORM (ใช้แยกเป็นตัวแปร)
DB_HOST=localhost
DB_PORT=8889
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=hotel_services_db

# JWT Configuration
JWT_SECRET=952b9e6b192d670b3ca46913f6bd825a614dcf5a5f1ccb1b40215359f726d250b2e92d5602086296b3e11d4d08274dcb12978379c9b3c7e8ecc196cf43f82448
JWT_EXPIRES_IN=24h

# Application Configuration
NODE_ENV=development
PORT=9011
FRONTEND_URL=http://localhost:9010

# CORS Configuration (comma-separated list of allowed origins)
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:2000,http://localhost:9010,http://localhost:9011

NEXT_PUBLIC_API_URL=http://localhost:9011/api

# Prisma Database URL
DATABASE_URL=mysql://root:root@localhost:8889/hotel_services_db
