# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

tsconfig.build.tsbuildinfo

uploads/rooms/*.jpeg
uploads/rooms/*.jpg
uploads/rooms/*.webp
uploads/rooms/*.png
uploads/rooms/*.gif
uploads/rooms/*.bmp
uploads/rooms/*.tiff
uploads/rooms/*.svg
uploads/rooms/*.ico
uploads/rooms/*.heic
uploads/rooms/*.heif

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment
.env
.env.local
.env.*.local


